* {
    padding: 0px;
    margin: 0px;
}

header {
    height: 100px;
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px #ccc;
}

section {
    min-height: 200px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-item {
    background: red;
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-item button {
    border: none;
    padding: 10px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.toast {
    position: fixed;
    bottom: 0px;
    text-align: center;
    z-index: 100;
    background: #333;
    height: 2em;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;    
    padding: 1em;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
    visibility: hidden;
}

.section-form {
    height: 100%;
    width: 100%;
    background: rgba(31, 31, 31, 0.548);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    visibility: hidden;
}

.form-body {
    height: 0px;
    width: 0px;
    background: orange;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.form-body button {
    margin: 0.4em;
    padding: 0.6em;
    border: none;
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 10px  rgb(102, 102, 102);
}

.form-body input[type=text] {
    padding: 0.5em;
    margin: 1em;
    width: 80%;
}